*{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}
a{
    color:#474747;
    text-decoration:none;
}
header{
    width:94%;
    padding:1% 3%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    background:#ffffff;
}
header div{
    display:inline-block;
}
header #logo{
    font-size:2em;
    color: #0081ff;
    width:40%;
}
header #menu{
    display:flex;
    align-items: center;
    width:60%;
    justify-content: space-between;
}
header #menu a{
    font-size:1.2em;
    font-weight: bold;
}
#slider{
    background:url(../img/main/background.png);
    padding:13% 2% 10% 2%;
    width:96%;
}
#slider #title{
    font-size:4em;
    color:#fff;
    text-align: center;
}
#slider #subtitle{
    font-size:1.3em;
    text-align:center;
    color:#fff;
    font-weight:normal;
}
#slider #button{
    margin:0 auto;
    width:230px;
    font-size:1.7em;
    text-align:center;
    background:#0081ff;
    color:#fff;
    padding:10px 0;
    border-radius: 30px;
    margin-top:40px;
}
#slider #button{
    cursor: pointer;
}
#news{
    width:98%;
    padding:1%;
    background:#fff;
}
#news #title{
    color:#474747;
    text-align: center;
}
#news #topics{
    width: 95%;
    display:flex;
    margin:0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
#news #topics #topic{
    width:30%;
    padding:1%;
    border-radius: 5px;
    margin-top:10px;
}
#news #topics #topic img{
    width:100%;
}
#news #topics #topic h2{
    text-align: center;
    color:#474747;
}
#news #topics #topic h3{
    text-align: center;
    color:#999ea8;
    font-weight: normal;
}
#news #topics #topic h3 img{
    width:15px;
    margin-right:5px;
    margin-top:10px;
}
#news #topics #topic #button{
    background:#0081ff;
    color:#fff;
    text-align: center;
    width:100px;
    padding:1%;
    border-radius: 30px;
    margin:0 auto;
    margin-top:10px;
}
#news #topics #topic #button:hover{
    cursor:pointer;
}
#monitoring{
    width:100%;
    background:#F5F5F5;
    border-top:1px solid #E3E3E3;
    border-bottom:1px solid #E3E3E3;
    padding:15px 0 25px 0;
}
#monitoring #title{
    color:#474747;
    text-align: center;
}
#monitoring #info{
    width:40%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    margin-top:15px;
}
#monitoring #button{
    margin:0 auto;
    width:190px;
    font-size:1.3em;
    text-align:center;
    background:#0081ff;
    color:#fff;
    padding:8px 0;
    border-radius: 30px;
    margin-top:10px;
}
#monitoring #button:hover{
    cursor:pointer;
}
#profiles #title{
    color:#474747;
    text-align: center;
    padding:15px 0;
}
#profiles #main{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 15px 0;
}
#profiles #main #worker p{
    font-size: 1.5em;
    text-align: center;
}
#callback{
    width:100%;
    background:#F5F5F5;
    border-top:1px solid #E3E3E3;
    border-bottom:1px solid #E3E3E3;
    padding:15px 0 25px 0;
}
#callback #title{
    color:#474747;
    text-align: center;
}
#callback form{
    width: 50%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
}
#callback form label{
    text-align: left;
    font-size: 1.7em;
}
#callback-form input, #callback-form textarea{
    width:100%;
    border: 2px solid black;
    font-size:1.5em;
    border-radius: 10px;
    
}
#callback-form textarea{
    height: 300px;
}
#callback form #form-button{
    font-size:1.7em;
    text-align:center;
    background:#0081ff;
    color:#fff;
    padding:10px 0;
    border:none;
    margin-top:10px;
}
#callback form #form-button:hover{
    cursor: pointer;
}
#footer{
    width:100%;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
}
#scroll-top{
    padding:10px;
    pisition:fixed;
    background: #0081ff;
    color: #ffffff;
}
